.card-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 100px;
    width: 310px;
    border: none;
}
img{
    width: 50px;
    height: 600px;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
}
.card-body, h4, p{
    background-color: #FBFCFC;
}
