.card-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 95px;
    width: 300px;
    border: none;
}
.card img{
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
}
.card-body, h4, p{
    color: black;
    background-color: #FBFCFC;
}
